@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Indie Flower", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(241, 238, 238);
}

/*header general*/
header {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, pink, lightgrey);
}
header nav div a img {
  width: 35px;
  height: 50px;
  margin-top: 6px;
}
header nav .menu {
  flex-grow: 0;
}
header nav .menu .menu-ul {
  align-items: flex-start;
}
header nav .menu .menu-ul li {
  font-size: 1.2em;
}
header nav .menu .menu-ul li a {
  color: rgb(22, 21, 21);
  font-weight: 700;
}

/* main about*/
.main-about {
  font-family: "Poppins", sans-serif;
}
.main-about section {
  padding-top: 15px;
  font-size: 1.5rem;
}
.main-about section h1 {
  font-weight: 700;
}
.main-about section h2 {
  text-decoration: underline;
}
.main-about section p {
  text-align: center;
  padding: 6px;
}
.main-about section div {
  display: flex;
  justify-content: center;
}
.main-about section div img {
  width: 320px;
  height: 320px;
  border-radius: 12px;
}
.main-about .solistas {
  font-style: italic;
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: space-evenly;
  justify-content: center;
}
.main-about .solistas h3 {
  padding: 15px;
}
.main-about .solistas .solista {
  position: relative;
  margin: 5px;
}
.main-about .solistas .solista img {
  width: 225px;
  height: 225px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 12px 7px 20px 1px rgb(22, 21, 21);
}
.main-about .solistas .solista .texto-uno {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(107, 107, 107, 0.7), rgba(241, 241, 241, 0.7));
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
}
.main-about .solistas .solista .texto-uno:hover {
  opacity: 1;
}
.main-about .solistas .solista .texto-uno:hover h2 {
  text-transform: uppercase;
}
.main-about .solistas .solista .texto-uno:hover p {
  font-style: oblique;
}

.main-merch {
  font-size: "Poppins", sans-serif;
}
.main-merch h1 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  font-weight: bolder;
}
.main-merch h3 {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
.main-merch .carousel-item {
  margin-bottom: 5px;
  padding: 10px;
  background-color: rgba(199, 179, 199, 0.568);
}
.main-merch .carousel-item img {
  width: 30px;
  height: 30px;
}
.main-merch .carousel-item h2 {
  text-align: center;
}
.main-merch .carousel-item p {
  text-align: center;
}
.main-merch .productos {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main-merch .productos .card {
  padding: 10px;
  border: none;
  background-color: rgb(241, 238, 238);
  width: 75px;
  height: 100%;
}
.main-merch .productos .card .card-title {
  text-transform: uppercase;
  text-align: center;
  padding-top: 2px;
  font-weight: bolder;
}
.main-merch .productos .card img {
  width: 100%;
  height: 100%;
}
.main-merch .productos .card .card-body {
  text-align: start;
  font-weight: lighter;
}
.main-merch .productos .card .card-body .precio {
  font-weight: bolder;
  color: rgb(119, 101, 119);
}
.main-merch .productos .card .card-body span {
  font-style: oblique;
}
.main-merch .productos .card .card-body .buttom {
  margin: 5px;
  background-image: linear-gradient(to right, rgb(252, 199, 208), lightgrey);
  font-weight: 600;
  align-items: center;
}

/*main discografía*/
.main-discografia {
  font-family: "Poppins", sans-serif;
}
.main-discografia .discord {
  display: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.3em;
}
.main-discografia .discord h1 {
  font-weight: bolder;
  margin-top: 10px;
}
.main-discografia .discord p {
  text-align: center;
  font-weight: lighter;
  padding: 4px;
}
.main-discografia .discord p span {
  font-style: italic;
  font-weight: bold;
}
.main-discografia .album {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 5px;
  gap: 20px;
}
.main-discografia .album .cover h2 {
  text-align: center;
  color: rgb(119, 101, 119);
}
.main-discografia .album .cover img {
  width: 225px;
  height: 225px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 12px 7px 20px 1px rgb(22, 21, 21);
}
.main-discografia .spotify {
  display: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  column-gap: 5px;
}
.main-discografia .spotify .canal {
  background-image: linear-gradient(to right, pink, lightgrey);
  border-radius: 12px;
  margin: 20px;
  padding: 15px;
}
.main-discografia .spotify .canal p {
  text-align: start;
  font-size: 1.4em;
}

/*main army*/
.main-army {
  font-family: "Poppins", sans-serif;
}
.main-army div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.main-army div h3 {
  text-align: center;
  font-weight: 700;
  font-style: italic;
  padding: 5px;
}
.main-army .proyectos {
  font-size: 1.2em;
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.main-army .proyectos h1 {
  border-radius: 3px;
  background-color: rgba(199, 179, 199, 0.568);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 5px;
}
.main-army .proyectos h2 {
  text-align: center;
}
.main-army .proyectos p {
  text-align: center;
}
.main-army .proyectos p span {
  font-weight: bold;
  font-style: italic;
}
.main-army .proyectos a img {
  width: 285px;
  height: 420px;
}

/*main conmtacto*/
.main-contacto {
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  min-height: 655px;
  font-size: 1.3em;
}
.main-contacto section {
  background-color: rgb(197, 193, 197);
  margin: 25px;
  border-radius: 4px;
}
.main-contacto section h1 {
  text-align: center;
  font-weight: bolder;
  font-style: italic;
}
.main-contacto section p {
  text-align: center;
  font-weight: 500;
}
.main-contacto .container {
  background-image: linear-gradient(to right, rgb(252, 199, 208), lightgrey);
  border-radius: 3px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}
.main-contacto .container form .form-group {
  align-content: center;
  align-items: center;
  font-weight: 600;
  padding: 7px;
}
.main-contacto .container form .form-group div .buttom {
  width: 100px;
  height: 100%;
  background-color: rgba(199, 179, 199, 0.568);
}

/*footer general*/
.footer {
  background-image: linear-gradient(to right, pink, rgb(202, 200, 200));
  /*logo link*/
  /*redes sociales*/
}
.footer .logo-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  padding-top: 15px;
}
.footer .logo-footer img {
  width: 35px;
  height: 50px;
}
.footer .contactos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
.footer .contactos .redes img {
  margin-top: 7px;
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 890px) {
  .menu {
    top: 150px;
    width: 100vw;
  }
}
@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
  }
  header nav div a img {
    width: 50px;
    height: 75px;
  }
  header nav ul {
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
  }
  /*main about*/
  .main-about section p {
    font-size: 1.5em;
  }
  .main-about section div img {
    width: 500px;
    height: 500px;
    border-radius: 12px;
  }
  .main-about .solistas h3 {
    font-size: 1.5em;
  }
  /*main merch*/
  .main-merch {
    font-size: 2rem;
  }
  .main-merch .encabezado-merch {
    margin-top: 10px;
  }
  .main-merch .encabezado-merch h1 {
    text-transform: uppercase;
  }
  .main-merch .encabezado-merch h1 {
    text-transform: uppercase;
  }
  .main-merch .productos {
    display: flex;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .main-merch .productos .card-body .buttom {
    font-size: 1em;
  }
  /*main discografia*/
  .main-discografia .discord {
    font-size: 2em;
    text-align: start;
  }
  .main-discografia .discord h1 {
    font-style: italic;
    padding-top: 7px;
  }
  .main-discografia .discord .album .cover h2 {
    font-weight: 600;
  }
  .main-discografia .spotify {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .main-discografia .spotify .canal {
    background-image: linear-gradient(to right, pink, lightgrey);
    border-radius: 12px;
  }
  .main-discografia .spotify .canal p {
    font-size: 1.4em;
  }
  .main-discografia .spotify .padre-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 5px;
  }
  .main-discografia .spotify .padre-grid div iframe {
    align-items: center;
    padding: 5px;
    width: 350px;
    height: 250px;
  }
  /*main army*/
  .main-army div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .main-army div h3 {
    font-size: 3em;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    margin: 15px;
  }
  .main-army .proyectos {
    font-size: large;
  }
  .main-army .proyectos a img {
    width: 450px;
    height: 600px;
  }
  /*contacto*/
  .main-contacto {
    font-size: 2em;
  }
  .main-contacto .container {
    align-items: center;
  }
  .main-contacto .container form .form-group input {
    font-size: 1em;
  }
  .main-contacto .container form div .buttom {
    font-size: 1em;
  }
  /*footer*/
  .footer .contactos .redes img {
    width: 40px;
    height: 40px;
  }
  .footer .privacidad {
    font-size: medium;
  }
}
@media only screen and (min-width: 1200px) {
  .main-discografia .spotify .canal {
    text-align: start;
    max-inline-size: 350px;
  }
  .main-discografia .spotify .padre-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 5px;
  }
  .main-discografia .spotify .padre-grid div iframe {
    align-items: center;
    padding: 5px;
    width: 350px;
    height: 250px;
  }
}

/*# sourceMappingURL=main.css.map */
