/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;;
}
html{
    font-size: 62.5%;
}
body{
    background-color: rgb(245, 245, 245);
}
/*header general*/
header nav div a img{
    width: 100px;
    height: 100px;
}
.menu{
    flex-grow: 0;
}
.menu-ul{
    align-items: center;
}
.menu-ul li a{
    color: black;
    font-size: 25px;
    font-weight: bold;
}
/*main about
.texto-h2{
    font-size: bold;
    font: 2em sans-serif;
}
.solistas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.solista img{
    width: 225px;
    height: 225px;
}
/*main discografia
.discord{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: medium;
}
.title{
    font-size: bold;
    font: 1.2em sans-serif;
}
.parrafo{
    background-color: rgb(209, 209, 209);
}
/*
main section p{
    display: flex;
    justify-content: center;
    font-size: small;
}
*//*
.album{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 5px;
    gap: 20px;
}
.cover img{
    width: 225px;
    height: 225px;
}*/
/*main army falta
.flex-container{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}
.cumpleaños img{
    justify-content: center;
    width: 75%;
    height: 75vw;
}


/*main contacto
.conteiner{
    background-color: rgb(182, 180, 180);
    font: 1.2em sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vw;
}

/*footer general
footer{
    width: 100%;
    height: 10vw;
    background-color: rgb(204, 204, 204);
}
.contactos{
    display: flex;
    justify-content: end;
    column-gap: 10px;
    row-gap: 5px;
}
.redes img{
    width: 30px;
    height: 30px;
}
*/
@media screen and (max-width: 991px){
    .menu{
        position: absolute;
        top: 150px;
        width: 100vw;
}
}

@media screen and (min-width: 768px){
    header{
        flex-direction: row;
    }
    header nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 10px;
    }
    /*about*/
    .solista img{
        width: 350px;
        height: 350px;
    }
    /*discografia*/
    .title{
        font-size: large;
    }
    main section p{
        font-size: medium;
    }
    /*contacto*/
    .conteiner{
        display: flex;
        justify-content: center;
    }
}
