/* main about*/
.main-about {
    font-family: $font-family-principal;
    section{
        font-size: 1em;
        h1{
            font-weight: 700;
        }
        h2{
            text-decoration: underline;
        }
        p{
            text-align: center;
            padding: 6px;
        }
    }
    .solistas {
        font-style: italic;
        display: flex;
        @include flex(row, wrap, space-evenly,center );
        h3{
            padding: 15px;
        }

        .solista {
            h2{
                text-transform: uppercase;
            }
            img {
                width: 225px;
                height: 225px;
            }
        }
    }
}