/*main army*/
.main-army{
    font-family: $font-family-principal;
    .proyectos{
        font-size: 1.2em;
        display: flex;
        @include flex(row, wrap, center, center);
        padding: 15px;
        h1{
            border-radius: 3px;
            background-color: nth($list: $colores, $n: 6);
            text-align: center;
            text-transform: uppercase;
            font-weight: bolder;
            padding: 5px;
        }
        h2{
            text-align: center;
        }
        p{
            text-align: center;
            span{
                font-weight: bold;
                font-style: italic;
            }
        }
        a{
            img{
                width: 285px;
                height: 420px;
            }
        }
    }
}