/*main conmtacto*/
.main-contacto {
    margin-bottom: 0;
    font-family: $font-family-principal;
    min-height: 655px;
    font-size: 1.3em;
    h1{
        text-align: center;
        font-weight: bolder;
        font-style: italic;
        margin: 25px;
        background-color: nth($list: $colores, $n: 5);
        border-radius: 4px;
    }
    .container{
        background-image: $gradiante;
        border-radius: 3px;
        padding: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        form{
            .form-group{
                align-content: center;
                align-items: center;
                font-weight: 600;
                padding: 7px;
                div{
                    .buttom{
                        width: 60px;
                        height: 100%;
                        background-color: nth($list: $colores, $n: 4);
                    }
                }
            }
        }
    }

}