/*main discografía*/
.main-discografia {
    .discord {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        h1{
            font-weight: 700;
            text-transform: uppercase;
            padding-top: 3px;
        }
        p{
            font-size: 1.1em;
            font-style: italic;
        }
        }

        .album {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            row-gap: 20px;
            column-gap: 5px;
            gap: 20px;

            .cover {
                h2{
                    text-align: center;
                    text-decoration: underline;
                }
                img {
                    width: 225px;
                    height: 225px;
                }
            }
        }

        .spotify {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            padding: 15px;
            column-gap: 5px;
            .canal{
                background-image: linear-gradient(to right, pink, lightgrey);
                border-radius: 12px;
                margin: 20px;
                padding: 15px;
                p{
                    text-align: start;
                    font-size: 1.4em;
                }
            }
        }
}

