@mixin flex($flex-direction, $flex-wrap, $aling-items, $justify-content){
    display: flex;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    align-items: $aling-items;
    justify-content: $justify-content;
}