/*header general*/
header {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, pink, lightgrey);

    nav {
        div{
            a{
                img{
                    width: 35px;
                    height: 50px;
                    margin-top: 6px;
                }
            }
        }

        .menu {
            flex-grow: 0;

            .menu-ul {
                align-items: flex-start;

                li {
                    font-size: 1.2em;

                    a {
                        color: nth($list: $colores, $n: 1);
                        font-weight: bold;
                    }
                }
            }
        }
    }
}