/*header general*/
header {
    background-image: linear-gradient(to right, pink, lightgrey);
    nav{
        div{
            a{
                img{
                    width: 100px;
                    height: 100px;
                }
            }
            .menu{
                flex-grow: 0;
                .menu-ul{
                    align-items: flex-start;
                    li{
                        font-size: 1.2em;
                        a{
                            color: black;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}